---
import IndexBase from '@src/layouts/Base.astro';

---

<IndexBase>
  <nav class="mt-4 md:mt-8">
    AI26  
  </nav> 
  <h1 class="my-4 md:my-8 font-bold">Unlimited AI Automations for Crypto-First Businesses</h1>

  <p class="mt-4">
    Manual data collection is killing your alpha. Connecting APIs to Excel or Google Sheets is clunky. 
  </p>

  <p class="mt-4">
    AI tools like N8N and Copilot promise to fix your problems — but what runs in their demo, dies in the wild.
  </p>

  <p class="mt-4">
    That's where we come in: with <span class="italic">bespoke tools that fit your process.</span> 
  </p>

  <p class="mt-4">
    We understand crypto businesses.
    From staking protocols, to multi-chain taxation, memecoins to alpha scattered across Telegram and Discord.
  </p>

  <p class="mt-4">
    Our clients include:
    <ul class="list-disc list-inside underline"> 
      <li><a href="https://collabcurrency.com" target="_blank">Collab+Currency</a></li>
      <li><a href="https://status.app/" target="_blank">IFT Studios ($status)</a></li>
      <li><a href="https://steer.finance" target="_blank">Steer Protocol</a></li>
    </ul>
  </p>

  <p class="mt-8 border-t pt-2 border-dotted border-gray-900">
    Interested in working with us? <br/><a href="https://zcal.co/shivekkhurana/ai-discovery" target="_blank" class="underline text-[#00e]">Book a call with Shivek</a>.
  </p>


</IndexBase>
